.carousel-item img{
    width: 1440px;
    height: 700px;
}
.button-customize{
    color: #3F87F5;
    font-weight: bolder;
    background-color: #FFFFFF;
    border: none;
    padding: 10px 44px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 44px;
}
.nav-modifiy{
    margin-right: 120px;
}
.nav-modifiy li{
    margin-right: 30px;
    font-size: large;
}
.ms-5 h4{
    margin-left: 120px;
}
.section-two-img img{
    width: 100%;
    padding-top: 40px;
}
.container{
    margin-top: 150px;
    margin-bottom: 150px;
}
footer section{
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 150px;
    padding-right: 150px;
    background-color: #0B0D17;
}
footer small{
    color: #D9DBE1;

}
footer p{
    color: #D9DBE1;
    font-size: larger;
}
.button-app-footer{
    border: 1px solid #FFFFFF;
    text-decoration: none;
    color: #D9DBE1;
    padding-left: 1em;
    padding-right: 0;
    border-radius: 10px;
    background-color: #0B0D17;
    opacity:  1;
    transition: 0.4s;
}
.button-app-footer:hover {opacity: 3}
.button-app-footer span{
    font-size: xx-small;
}
.fab{
    font-size: x-large;
}
.card-body ul{
    list-style: none;
    padding: 0px;
}
.card-button{
    color: #3F87F5;
    font-weight: bolder;
    background-color: #fcf0f7;
    border: none;
    padding: 10px 44px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
    border-radius: 25px;
    margin-bottom: 44px;
}
.fas{
    color: #3F87F5;
}
.font-poppins{
    font-family: 'Poppins', sans-serif;
}
.card-group p,ul{
    color: #848199;
}
.card-group ul{
    line-height: 2em;
}
#pill-size{
    width: 15%;
    background-color: #FF4E4E;   
}
#card-rounded{
    background-color: #7cb0ff;
    border-radius: 30px;
}
.card-body{
    padding-top: 70px;
    padding-left: 60px;
}
.section-two{
    font-family: 'Poppins', sans-serif;
}
.accordion-color{
    color: #848199;
    line-height: 2em;
}