.carousel-item img{
    width: 1440px;
    height: 700px;
}
.button-customize{
    color: #3F87F5;
    font-weight: bolder;
    background-color: #FFFFFF;
    border: none;
    padding: 10px 44px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 44px;
}
.nav-modifiy{
    margin-right: 120px;
}
.nav-modifiy li{
    margin-right: 30px;
    font-size: large;
}
.ms-5 h4{
    margin-left: 120px;
}